<!DOCTYPE html>
<html>
<head>
  <title>BlogRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container clearfix TitleSection">
  <header class="page-head">
    <h1>Super Blog <small>// Blog away, blog away.</small></h1>
  </header>
</div>

<%= yield %>

</body>
</html>
